.catalogue-content {
    width: 100%;
    margin: auto;
    padding-top: 5%;
    margin-bottom: 10vh;
}

.card-container {
    display: flex;
    flex-direction: column;
}

app-sidebar {
    position: fixed;
}

@media screen and (max-width: 1024px) {
    app-sidebar {
        position: relative;
        margin: 3%;
    }
}