<div class="card mb-3" *ngFor="let training of trainings">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{training.image_url}}" class="card-img" alt="">
            <hr>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{training.name}}</h5>
                <p class="card-text">{{training.description}}</p>

            </div>
        </div>
    </div>
</div>