<div class="card mb-3" *ngFor="let training of systemService.trainings">
  <div class="row no-gutters">
    <div class="col-md-4 text-center">
      <img src="{{training.image_url}}" class="card-img mt-3 mb-5" alt="">
      <button class="btn btn-lg btn-outline-primary" (click)="open(content, training)">Voir les sessions</button>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{training.name}}</h4>
        <div class="card-text text-justify" [innerHTML]="training.description"></div>
        <hr>
        <div class="text-justify">
          <h5 class="card-title">Détails</h5>
          <div class="row mb-2">
            <div class="col-md-6">
              <p class="card-text"><small class="text-muted va_center" placement="top" ngbTooltip="Durée"><img src="../../../../assets/img/pictos/picto-duree.png" class="picto">{{training.duration_info}}</small></p>
            </div>
            <div class="col-md-6">
              <p class="card-text"><small class="text-muted va_center" placement="top" ngbTooltip="Prix"><img src="../../../../assets/img/pictos/picto-prix.png" class="picto">{{training.price}}</small></p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <p class="card-text"><small class="text-muted va_center" placement="top" ngbTooltip="Nombres de participants"><img src="../../../../assets/img/pictos/picto-participant.png" class="picto">De {{training.participants_min}} à {{training.participants_max}} participants</small></p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <p class="card-text"><small class="text-muted va_center" placement="top" ngbTooltip="Conditions d'accès"><img src="../../../../assets/img/pictos/picto-accessibilite.png" class="picto">{{training.conditions}}</small></p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <p class="card-text"><small class="text-muted va_center contact_title"><img src="../../../../assets/img/pictos/picto-telephone.png" class="picto">{{training.contact_name}}</small></p>
            </div>
          </div>
          <div class="mb-2 mt-3 contact_area" placement="top" ngbTooltip="Contact">
            <div class="col-md-12">
              <span class="contact_method"><strong>Téléphone</strong></span>
              <div class="card-text">
                <div class="text-muted text-left contact_method_content" [innerHTML]="training.phone"></div>
              </div>
            </div>
            <div class="col-md-12">
              <span class="contact_method"><strong>Email</strong></span>
              <div class="card-text">
                <div class="text-muted text-left contact_method_content" [innerHTML]="training.email"></div>
              </div>
            </div>
            <div class="col-md-12">
              <span class="contact_method"><strong>Site web</strong></span>
              <p class="card-text"><small class="text-muted text-left contact_method_content">{{training.contact_id[3]}}</small></p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Loading... </p>
</ngx-spinner>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sessions</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="sessions;then content else other_content">here is ignored</div>
    <ng-template #content>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Lieu</th>
          <th scope="col">Participants (#)</th>
          <th scope="col">Choisir</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let session of sessions; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ session.day1 | date: 'dd-MM-yyyy' }} <br> {{ sliceTime(session.start_time1) }} - {{ sliceTime(session.end_time1) }} </td>
          <td>{{session.loc_name}} <br>{{session.address}}</td>
          <td>{{session.count.count}}/{{ selectedTraining.participants_max }}</td>
          <td>
            <button class="btn btn-primary" *ngIf="session.count.count != selectedTraining.participants_max" (click)="d('Cross click')" (click)="chooseSession(session)">Choisir</button>
            <button class="btn btn-primary" *ngIf="session.count.count == selectedTraining.participants_max" disabled="true" (click)="d('Cross click')" (click)="chooseSession(session)">Choisir</button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
    <ng-template #other_content>
      <h3>
        Aucune session n’est prevue pour actuellement pour cette formation
      </h3>
    </ng-template>

  </div>
</ng-template>
