.list-title {
    background-color: #9FD5D8;
    color: white;
    font-size: 1.4rem;
}

.sidebar-toggler-icon {
    color: #fff !important;
    font-size: 13px;
}

.sidebar-toggler {
    width: 47px;
    height: 34px;
    border: 1px solid white;
    margin-bottom: 3%;
}

.sidebar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.list-group {
    width: 100%;
}
p.list-group-item.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p.list-group-item.list-title span {
  font-size: 15px;
  font-weight: 700;
  color: red;
}
