<div class="row">
    <button class="sidebar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="list-tab" aria-label="Toggle navigation">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line" style="margin-bottom: 0;"></span>
        <span>Catégories</span>
    </button>
</div>

<div class="row sidebar m-auto">
    <div class="list-group collapse sidebar-collapse" [ngbCollapse]="!isCollapsed" id="list-tab" role="tablist">
        <li class="list-group-item list-title">Catégories</li>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="tous">Pour tous</button>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="ada">Aide aux demandeurs d’asile</button>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="mandataires">Mandataires</button>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="as">Action sociale</button>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="secours">Secours</button>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="formafor">Formation de formateurs</button>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="actires">Activités ressources</button>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="inter">International</button>
        <button class="list-group-item list-group-item-action" role="tab" data-filter="marcom">Communication et marketing</button>
    </div>
</div>