<div class="accueil-content">
  <div class="jumbotron">
    <div class="container text-center mb-5 mt-3">
      <h1>Le catalogue des activités d’apprentissage</h1>
      <span class="lead">Édition Janvier 2020</span>
    </div>
    <div class="row mb-5">
      <img class="img-fluid m-auto" src="../../../../assets/img/illustrations/bandeau-site-1ligne.png">
      </div>

    <div class="container pt-5">
    <div class="row intro-title">
      <h3>Votre engagement est une force, le développement de vos compétences une richesse unique pour vous et pour la Croix-Rouge</h3>
      <span class="red-line mt-2 mb-5"></span>
    </div>
    <div class="row">
            <p>Grâce à votre engagement au sein de la Croix-Rouge de Belgique, c’est tous les ans
      plus de 60.000 personnes qui développent leurs capacités à répondre aux premiers
      secours, à accueillir les bénéficiaires de nos services, à jouer un rôle de jeune leader,
      à être ambassadeur de la Croix-Rouge et du Croissant rouge, à appréhender les
      questions de droit international humanitaire, ou encore à rencontrer nos bénéficiaires.</p>
            <p>Cette palette d’activités d’apprentissage, d’une impressionnante diversité, s’est
      encore récemment étoffée via l’application d’apprentissage pour les premiers
      secours. Cela se poursuivra dans les mois à venir avec de nouvelles opportunités
      d’apprentissage qui verront le jour : un serious game pour réagir au mieux face à une
      situation d’urgence ou encore des kits d’outils pour accompagner l’apprentissage au
      sein de vos activités.</p>
            <p>En parallèle et depuis quelques années, notre ASBL Education Santé Société (ESS)
      a facilité l’émergence de réflexions mobilisatrices et inspirantes sur notre manière
      de faire apprendre, en prônant un apprenant au centre de ses choix et de son
      développement tout en favorisant le développement de compétences au service
      de nos actions.</p>
            <p>Aujourd’hui, ce virage est clairement au centre de nos ambitions pédagogiques
      ainsi que des projets et actions de l’Institut de Formation, en étroit lien avec le
      Conseil Pédagogique. Tout en mettant l’accent sur l’innovation, ces développements
      préservent et promeuvent les fondements de l’action, atouts et expériences sans
      égaux de l’Institut de Formation, dont l’objectif est, depuis sa création, de mobiliser
      l’ensemble des acteurs CRB pour offrir les meilleures opportunités d’apprentissage,
      accessible à tou.te.s, de qualité et ancrées dans nos valeurs et principes fondateurs.</p>
            <p>Illustration concrète de ces nouvelles avancées, vous tenez dans vos mains le
      catalogue des activités d’apprentissage à destination des membres de la CRB,
      fruit d’un joli travail d’équipe entre les multiples acteurs concernés. Nous vous en
      souhaitons une excellente lecture, une belle découverte et qu’il puisse contribuer,
      pour vous et vos équipes, à de magnifiques parcours d’apprentissage.</p>
    </div>
    <div class="float-right mb-5"><p class="mt-3" id="signature">La coordination de l’Institut de Formation</p></div>
    </div>
  </div>
</div>
