<div class="footer container-fluid m-auto align-middle d-none d-sm-block">
  <div class="row footer-row">
    <div class="col-md-2 col-md-offset-1">Organisé par&nbsp;:</div>
    <div class="col-md-2"><img src="././assets/img/ess-logo300.png" class="footer-logo"></div>
    <div class="col-md-2">Avec le soutien de&nbsp;:</div>
    <div class="col-md-2"><img src="././assets/img/fwb-logo.png" class="footer-logo"></div>
    <div class="col-md-2"><img src="././assets/img/coopdev-logo.jpg" class="footer-logo"></div>
</div>
</div>

